@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    --cor1: hsl(238, 29%, 16%);
    --cor2: hsl(14, 88%, 65%);
    --text1: hsl(237, 12%, 33%);
    --text2: hsl(240, 6%, 50%);
    --divider: hsl(240, 5%, 91%);
    --grad1: hsl(273, 75%, 66%);
    --grad2: hsl(260, 80%, 67%);
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-image: linear-gradient(to bottom,var(--grad1),var(--grad2));
    height: 100vh;
}
main{   
    transform: translateY(25%);
    width: 300px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.397);  
}
.ilustracao{
    position: absolute;
    top: -113px;
    left: 32px;
    width: 250px;
}
.sombra{
    position: relative;
    top: -15px;
    left: 17px; 
    width: 250px;
}

h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
}
h2{
    float: left;
    font-weight: 400;
    font-size: 14px;
}
h2:hover{
    color: var(--cor2);
    cursor: pointer;
}
.arrow{
    float: right;
    transform: translateY(90%);
}
hr{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0.5px solid hsl(240, 5%, 91%);
}
.inf{
    display: none;
}
p{
    padding-top: 8px;
    font-size: 12px;
}
footer{
    position: absolute;
    left: 25%;
    bottom: 35%;
    text-align: center;
    font-size: 11px; 
}
footer a {
    color: hsl(228, 45%, 44%); 
}